body {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    opacity: 95%;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

header, footer {
    padding: 1%;
    margin: auto;
    display: block;
    text-align: center;
}

span {
    color: whitesmoke;
    display: block;
    text-align: center;
}

.main-heading {
    color: whitesmoke;
    font-style: oblique;
    font-weight: bolder;
    font-size: 3rem;
}

.box-heading {
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 2rem;
}

.box-text {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
}

.box-img {
    height: 500px;
    width: 100%;
    display: block;
    border: transparent;
    border-radius: 15px;
}

.copy-heading {
    color: whitesmoke;
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
}

.box {
    padding: 1%;
    height: auto;
    margin: 0%;
    display: inline-block;
    text-align: center;
    opacity: 60%;
    background-color: whitesmoke;
    border-top: thin solid black;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 15px;
    border-width: thin;
}

.col-2 {
    width: 47.8%;
}

.col-3 {
    width: 31.1%;
}

.col-4 {
    width: 22.7%;
}

.row {
    width: 100%;
}

@media only screen and (max-width: 1460px) {
    .box {
        background-color: black;
    }

    .box-img {
        width: 98%;
    }

    .box-heading, .box-text {
        color: whitesmoke;
    }

    .col-2, .col-3, .col-4 {
        width: 100%;
    }
}